@{
    ViewBag.Title = "Home Page";
}

<p>Time: @ViewBag.Message</p>

<h2>Users</h2>
@model VKNewsViewing.Models.UsersCollection
<h3>Number of members: @Model.count</h3>
<ul>
    @foreach (var user in Model.items)
    {
        <li>
            <a href="@Url.Action("Posts", "Home", new {userId = user.id})">
                @user.first_name @user.last_name
            </a>
        </li>
    }
</ul>